html, body {
    height: 100%;
    line-height: 1;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    color: $color-text-regular;
    background-color: #fff;
    overflow: hidden;
}

/** 隐藏IE浏览器自带的文本删除按钮和密码查看按钮 **/
input::-ms-clear, input::-ms-reveal {
    display: none;
}

input::-webkit-input-placeholder { color: $color-text-placeholder; }
input::-moz-placeholder { color: $color-text-placeholder; }
input:-moz-placeholder { color: $color-text-placeholder; }
input:-ms-input-placeholder { color: $color-text-placeholder; }


.el-table {
    .el-table__body-header {
        .el-table__cell {
            padding: 12px 0 !important;
            border-bottom: 1px solid $color-text-primary !important;
            .cell {
                text-align: center;
                font-size: 14px;
                color: $color-text-primary;
                font-weight: 700;
            }
        }
    }
    tbody .cell {
        color: $color-text-regular;
        user-select: text;
    }
    .el-loading-mask {
        background-color: rgba(7, 17, 27, 0) !important;
    }

}

/** 进度条颜色 **/
#nprogress .bar {
    background: $theme-sunset_orange; //自定义颜色
    height: 1px;
    .peg {
        box-shadow: 0 0 10PX transparent, 0 0 5PX transparent;
    }
}

